@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.img1{
    background-image: url(https://images.unsplash.com/photo-1677040628614-53936ff66632?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    min-height: 100%;
}

.img2{
    background-image: url(https://images.unsplash.com/photo-1676846631735-e10bf09d49d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    min-height: 400px;
}

.img3{
    background-image: url(https://images.unsplash.com/photo-1586364663159-9cda0f1fdcb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    min-height: 400px;
}

.img1, .img2, .img3{
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

